head
  include ./includes.pug

  style
    include email.css
body(style='background-color: #2E303E')
  - const url = `${process.env.WEBSITE_URL}/verify?code=${code}`;
  header
    h1.logo
      span accord
      span.text-tertiary .
      span.text-secondary app
    h2 Hello #{user.username}!
    p.lead Thank you for choosing accord.app!

  section.body
    div.summary A password reset was requested.
    
    h2.action Here is your new password...
    p.lead You can change this at any time, in your user settings.
    pre
      code(style='background-color: #232530') #{code}
   
    a(href=url)
      button(style='background-color: #E95678') Confirm Reset

    div.trivia
      p This request expires in #{expiresIn / 60 / 1000} minutes. 

  footer
    hr
    span accord.app